venv/n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aeba3bbc-94e9-4e59-b38b-fe2acb2d1ee9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        72
      ],
      "id": "dcb704e5-be2e-4f02-84b4-bc580af6a106",
      "name": "Lead Webhook",
      "webhookId": "aeba3bbc-94e9-4e59-b38b-fe2acb2d1ee9",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "03c293da-4c69-4ce1-84eb-0e9bd28d6e77",
              "leftValue": "name",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "dd53b915-96a9-4954-a6c4-227cabfb31cf",
              "leftValue": "email",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "5c8ef639-a276-4c72-a44a-3e1dedc6f337",
              "leftValue": "company",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "acaaee0c-f992-40fe-bcb4-ec6277fbec74",
              "leftValue": "message",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        72
      ],
      "id": "7d477bfc-63e1-46fe-a450-f60fb1d4340b",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://subfloor-envy-salvaging.ngrok-free.dev/enrich",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "company",
              "value": "={{ $json.company }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        96
      ],
      "id": "abd47b45-fd34-4b83-8109-d6a329b4d030",
      "name": "Enrich"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://subfloor-envy-salvaging.ngrok-free.dev/classify",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        336
      ],
      "id": "411f6fc0-8f84-4df9-87a1-5125cba8bb8c",
      "name": "Classify"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MBYqspwgZHBcF4BF7SH6D6dH6Ui4Xp8EqeGAxcnx7EM",
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MBYqspwgZHBcF4BF7SH6D6dH6Ui4Xp8EqeGAxcnx7EM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MBYqspwgZHBcF4BF7SH6D6dH6Ui4Xp8EqeGAxcnx7EM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        264
      ],
      "id": "3f01d624-1dae-4c21-af0b-ef42c17952c0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IA2RL2TR2gl7yYnn",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json.body.email.toLowerCase();\nconst company = $input.first().json.body.company.toLowerCase();\n\nreturn [\n  {\n    json: {\n    name : $input.first().json.body.name,\n    company : $input.first().json.body.company,\n    email: $input.first().json.body.email,\n    message: $input.first().json.body.message,\n    lead_id: `${email}_${company}`,\n    created_at: new Date().toISOString()\n  }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        192
      ],
      "id": "a67b0f72-af62-4c43-b8e5-068968f5f336",
      "name": "Generate Lead ID"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "lead_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        144
      ],
      "id": "68ac445b-2c30-45a4-9d10-8a68dca979e9",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "lead_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        264
      ],
      "id": "717349a0-43bc-4463-b296-135d40e8424c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"message\": \"Invalid data\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -448,
        0
      ],
      "id": "bf69ad8e-adb5-4ef5-a206-505adbe1608b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "sarthakpannu10@gmail.com",
        "subject": "New Lead",
        "message": "=New AI-qualified lead received\nName {{ $json.name }} \nEmail {{ $json.email }} \nCompany {{ $json.company }} \nIntent {{ $json.intent }} \nConfidence {{ $json.confidence }} \nIndustry {{ $json.industry }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        264
      ],
      "id": "42027d33-fed3-4a26-a677-364d2d1ef7bb",
      "name": "Send a message",
      "webhookId": "c7bf1905-5cd4-490d-aa39-97db1d1b06d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "XthlWgjZdLSVstTo",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"status\": \"success\",\n\"message\": \"Lead processed successfully\",\n\"intent\": \"sales_enquiry\",\n\"confidence\": 0.92\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        264
      ],
      "id": "0f6a273f-0ccc-436c-9883-78d577b97406",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Lead ID": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d8425018-0dd5-40e4-b0d6-80f0388ed594",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cfc0f53ecf7bfb9347a4aceb437d9313fe53b66d38afc62d611d9abda70d7fc"
  },
  "id": "zYB7ikzfQEJkXtD6",
  "tags": []
}